platformName='android'
platformVersion='9.0'
deviceName='Google Pixel 3'
app='bs://d6f09289cef459c2251394fd469dd6494ccc45d3'
remote_url='http://hub.browserstack.com/wd/hub'
myName='blablabla'
accessKey='ohhoho'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'